body{
    padding: 0;
    margin: 0;  
    background-color: azure;
}

.footerClass{
    margin-top: auto!important;
}
#navbarNav{
    a{
        font-size: 30px;
    }
}
.headerImage {
    background-image: url('../img/fondo.jpg')!important;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 400px!important; 
}
.headerImage2 {
    background-image: url('../img/fondo3.jpg')!important;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 400px!important; 
}

.separador{

    width: 100%;
    background-color: #dcdcdc;

}

.separador h2 {
    color: #333;
    font-size: 35px;
    font-weight: bold;
}

.sectionWithBackground {
    background-image: url('../img/1.jpg');
    background-size: contain;
    height: 500px;
    width: 100%!important;
    background-position: center;
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: left;
    
}

.sectionWithBackground h2 {
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 20px;
    color: #fff;
    padding-left: 10px;
    padding: 10px 0 0 10px;
}

.sectionWithBackground p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #fff;
    padding: 10px 0 0 10px;
    
}
.sectionWithBackground li {
    
    text-align: left;
    
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.contenedor .contenido {
    width: 55%;
    padding: 20px;
    

}

.contenedor .imagen {
    width: 45%;
}
.imagen img {
    width: 100%;
    height: auto;
}

.contenedor2 {
    text-align: center;
    /* background-color: #f9f9f9; */
    padding: 40px;
}


/* Animación del botón */
@keyframes animacionBoton {
    0% { transform: scale(0); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

.animacionBoton {
    animation: animacionBoton 1s ease forwards; 
}

/* estilos del dropdown */

.dropdown-menu {
    padding: 20px;
    max-width: 70%;
    background-color: #e1e0e0f5;
    color: #333;
    border: 1px solid #b0a9a9;
    border-radius: 5px;
}

.dropdown-menu h5 {
    font-size: 1.5rem;
    margin-top: 0;
}

.dropdown-menu p,
.dropdown-menu ul,
.dropdown-menu li {
    font-size: 1rem;
    margin-bottom: 10px;
}

.dropdown-menu ul {
    list-style-type: none;
    padding-left: 0;
}

.dropdown-menu ul li {
    margin-left: 20px;
}

.botonReceta {
    display: flex;
    justify-content: center; 
    margin-top: 20px;

}

.ancho40, .ancho60 {
    display: inline-block;
    vertical-align: top; /* Alinea los elementos en la parte superior */
    box-sizing: border-box; /* Incluye el padding y el border en el ancho y alto */
}

.ancho40 {
    width: 40%;
}

.ancho60 {
    width: 55%;
}

.invitacion {
    text-align: center;
    color: #333;
    font-size: 34px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}


.textoInvitacion {
    text-align: center;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}

.texto {
    font-size: 28px;
    line-height: 1.6;
}
