body{
    padding: 0;
    margin: 0;  
    background-color: azure;
}


#navbarNav{
    a{
        font-size: 30px;
    }
}
.headerImage {
    background-image: url('../img/fondo.jpg')!important;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 400px!important; 
}
.headerImage2 {
    background-image: url('../img/fondo3.jpg')!important;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 400px!important; 
}

.sectionWithBackground {
    background-image: url('../img/1.jpg');
    background-size: contain;
    height: 500px;
    width: 100%!important;
    background-position: center;
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: left;
    
}

.sectionWithBackground h2 {
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 20px;
    color: #fff;
    padding-left: 10px;
    padding: 10px 0 0 10px;
}

.sectionWithBackground p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #fff;
    padding: 10px 0 0 10px;
    
}
.sectionWithBackground li {
    
    text-align: left;
    
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.contenedor .contenido {
    width: 55%;
    padding: 20px;
    

}




.contenedor .imagen {
    width: 45%;
}
.imagen img {
    width: 100%;
    height: auto;
}

.contenedor2 {
    text-align: center;
    /* background-color: #f9f9f9; */
    padding: 40px;
}


/* Animaci贸n del bot贸n */
@keyframes animacionBoton {
    0% { transform: scale(0); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

.animacionBoton {
    animation: animacionBoton 1s ease forwards; /* Ajusta la duraci贸n de la animaci贸n */
}
